.root{
  position: relative;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0 15px 45px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus{
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.icon {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  position: absolute;
  left: 15px;
  top: 15px;

  &_clear{
    width: 25px;
    height: 25px;
    opacity: 0.5;
    position: inherit;
    left: -35px;
    top: 9px;

    &:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  }
}